@media (max-width:1400px){
    .highlight-section,.amenities-section,.section_floor,.price_list_section,.location-section, .gallery-section, .developer-section, .contact-form, .footer_section{
padding: 60px 0;
}

        .swiper-slide img {
        height: auto;
    }
    .main-top-left-box {
    margin-bottom: 50px;
}
    .location_small_box p, .location_right_small_box p{
        font-size: 14px;
    }
    .banner_content_box h1{
        font-size: 26px;
    }
    .banner_content_box{
        top: 16%;
    }
    .g_line::before{
        right: -50px;
    }
    .g_line::after{
        left: -50px;
    }
    .para {
    font-size: 14px;}
   .table>:not(caption)>*>* {
    padding: 25px .5rem !important;
}
.price_small_section h4 {
    
    font-size: 24px;}
    .price_small_section p {
    font-size: 14px;}
    .amenities_img_box img {
    height: 350px;}
    .offcanvas-body .nav-item, .offcanvas-body .nav-item .nav_g_line {
    
    font-size: 13px;
    padding: 13px 0;
}
.offcanvas .offcanvas-body{
        padding-top: 0;
        padding-bottom: 0;
}
}
@media (max-width:1366px){
    .offcanvas-body .nav-item, .offcanvas-body .nav-item .nav_g_line {
        font-size: 13px;
        padding: 12px 0;
    }
.offcanvas-title {
    margin-top: 0;
}


.navbar-container {
    max-width: 90% !important;
    margin: 0 auto;
}
     .modal_form_box .form-box{
        gap: 25px;
        padding-top: 20px;
    }
    .form-box .form-control{
        height: 54px;
    }
    .section-title{
        font-size: 22px;
    }
    .amenities_sab_title{
        font-size: 14px;
    }
    /* .highlight-left-box {
    margin-bottom: 40px;
} */
    .main-top-left-box{
        margin-bottom: 40px;
    }
    .price_list_section .button-box {
    margin-top: 20px;
}
.highlight-section .button-box {
    margin-top: 20px;
}













}
@media (max-width:1280px){
        .offcanvas-body .nav-item, .offcanvas-body .nav-item .nav_g_line {
               padding: 10px 0;
        font-size: 13px;
    }
    .banner_content_box h1 {
        font-size: 23px;
    }
        .g_line::before {
        right: -41px;
    }
        .g_line::after {
        left: -41px;
    }
    .form-box .form-control {
    height: 52px;
}
}
@media (max-width:767px){
    .offcanvas .offcanvas-body{
        padding: 1rem;
    }
    .offcanvas-title {
    margin-top: 20px;
}
    .offcanvas-body .nav-item, .offcanvas-body .nav-item .nav_g_line {
        padding: 15px 0;
        font-size: 16px;
    }
    .button-box {
        justify-content: start;
    }
    .amenities-box{
        padding: 0 15px;
        gap: 15px;
    }
    header{
        height: auto;
    }
    .navbar-container{
            max-width: 100% !important;
    margin: 0 auto;
    padding: 0 !important;
    }
.banner_content_box{
          width: 100%;
        gap: 0;
        top: 21%;
}
#offcanvasDarkNavbar{
    width: 80%;
}
.banner_content_box h1 {
    width: 100%;
    font-size: 18px;
    gap: 16px;
}
.banner_g_lineL{
 width: 30px;
}
.banner_g_lineR{
   width: 30px;
}
.banner-content-bottom{
    display: none;
}
.banner_content_box .button-box{
    display: none;
}
/* overview */
.overview-section {
    padding: 40px 0;
    }

.section-title{
font-size: 18px;
}
.overview-left-box{
        background: #000414;
        background: linear-gradient(0deg, rgba(0, 4, 20, 1) 0%, rgba(0, 4, 20, 0) 100%);
        padding: 40px 30px 94px 30px;
    }
.highlight_g_left::before, .highlight_g_left::after{
           width: 150px;
        left: -55px;
    }
.highlight_g_left::before{

top: 120px;
}
 .highlight_g_left::after{

top: -88px;

}
.highlight_g_right::before, .highlight_g_right::after{
            width: 150px;
        left: -55px;
    }
.highlight_g_right::before{
top: 120px;
}
.highlight_g_right::after{
    top: -88px;
}
.center_box {
    gap: 12px;
}


.section-title .g_right_line{
width: 100px;
}
.overview_main_box{
    padding: 0 20px;
}
.para {
  width: 100%;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.5px;
        margin-bottom: 35px;

}
.overview_img-box {
   margin-top: -90px;
   margin-left: 0;
   }


    /* Highlights */
.highlight_main_box {
    text-align: center;
    padding: 0;
}
.highlight_right_box{
    display: none;
}
.highlight_middle_section{
    flex-direction: column;
    gap: 30px;
    padding: 30px 30px;
}
.highlight_g_left, .highlight_g_right{
    transform: rotate(90deg);
}


.highlight-section .button-box {
    justify-content: flex-start;
    padding: 0 30px;
}
    .highlight_left_box::after {
            right: 1px;
    }
.highlight_left_box img{
    width: 97%;
}
/* amenities */
.amenities_main_box {
    flex: 1 1 calc(50% - 25px); /* 2 per row */
  }
   .amenities_img_box img{
  height: 216px;
 }
 .amenities_main_box:last-child{
    display: none;
 }
/* Floor plan */
.floor-button {
    padding: 20px 41px !important;
    font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.701px;

}

#pills-tab {
    gap: 5px;
}
.floor_right-content_box{
width: 100%;
}
.floor_main_box{
    margin-top: 35px;
}
/* Price list */
.price_small_section h4 {
    font-size: 16px;}
.price_small_section p{
    font-size: 12px;
    margin-bottom: 5px;
}
td:nth-child(2), td:nth-child(3) {
    text-align: left;
}
.price_small_section sub{
font-size: 14px;
}
.price_table {
    margin-top: 0;
            margin-bottom: 0;
}
.price_list_section .button-box{
  margin-top: 20px;
}
.table>:not(caption)>*>* {
    padding: 20px .5rem !important;
}
.video-overlay {
    top: -1px;
    height: 101%;
}
/* Location Style responsive */

.location_left_main_box .location_main_box{
    flex-direction: row-reverse !important;
}




.g_left_line{
                  transform: rotate(90deg);
                  margin-left: -24px;
                  width: 85px !important;
                  margin-top: 35px;
}
.location_right_main_box .g_right_line{
                   transform: rotate(-90deg);
                   margin-left: -20px;
                   width: 85px !important;
                   margin-top: 26px;
}
.location_small_box, .location_small_box h3{text-align: left;font-size: 16px;}
.location_main_box {
    justify-content: start;
    gap: 6px;
   
}
.location_right_small_box, .location_small_box{
 margin-left: -16px;
 }
 .location_left_main_box{
    margin-top: 50px;
 }
.location_right_main_box{
           margin-top: 35px;
}
.location_right_main_box .location_main_box:last-child .g_right_line {
    /* display: none; */
    visibility: hidden;
  }
.location_right_main_box .location_main_box .g_right_line::after {
    content: " ";
    position: absolute;
    /* right: -5px; */
      left: 0%;
    top: 48%;
    transform: translateY(-50%) rotate(46deg);
    width: 5px;
    height: 5px;
    background: #e8d8ac;

  }
/* .location_right_main_box .location_main_box:last-child .g_right_line::before {
    visibility:hidden;
  } */


/* Developer responsive */
.developer_main_box{
    flex-direction: column;
    
}

/* Conatct Section */
    .form-box {
               width: 100%;
        gap: 25px;
        padding: 25px 15px;
        margin-top: 40px;
    }

.buiding_img{
    display: none;
}
.footer_bottom{
    margin-bottom: 20px;
}

 .footer_bottom p{
                  font-size: 12px;
        font-family: var(--font-Poppins) !important;
        letter-spacing: 1.5px !important;
        }

  .footer_bottom{
    justify-content: center;
  }


/* Gallery */

    .gallery_bottom {
        flex-direction: column-reverse;
    }
.mySwiper2 .swiper-slide:first-child{
    margin-right: 20px !important;
}

.mySwiper1 .swiper-slide, .mySwiper2 .swiper-slide{
    padding: 0;
}
.gallery-box{
            margin: 0;
        padding: 0;
}
.gallery_bottom{
    margin-top: 15px !important;
}
.developer_main_box{
    margin-top: 23px;
}


.highlight_box p{
    font-size: 12px;
    line-height: 22px;
}



.floor_main_box {
    margin-left: 0px;
}
.modal .modal_form_box .modal-header{
padding-bottom: 15px !important;
border-bottom: 1px solid var(--secondary-bg-color) !important;
}
.footer_section h1{

font-size: 20px;

}
.right-side-navbar {
     gap: 10px;
}

.number {    
    gap: 6px;    
    padding: 6px 8px;
}
.overview_main_box {
   
    align-items: start;
    flex-direction: column;
}
.highlight_box h3{
    line-height: 22px;
    font-size: 14px;
}
.button-box span{
font-size: 14px;
letter-spacing: 0.5px;
}
.amenities_sab_title {
      
font-size: 12px;
line-height: 20px; /* 166.667% */
    }
    .amenities_top_box p, .amenities_bottom_box p{
font-size: 14px;
    }

    .small_box h4{

font-size: 12px;
    }
.small_box p{
font-size: 14px;
}

.highlight-section,.amenities-section,.section_floor,.price_list_section,.location-section, .gallery-section, .developer-section, .contact-form, .footer_section{
padding: 40px 0;
}
.developer-box h3{
font-size: 20px;
line-height: 20.046px; 
letter-spacing: 0.358px;
}
.developer-box p{
font-size: 12px;
line-height: 15.751px; 
letter-spacing: 0.358px;
}
.amenities-section .button-box, .section_floor .button-box, .location-section .button-box, .overview_main_box .button-box, .price_list_section .button-box {
    margin-top: 50px;
}
.modal_form_box .form-check-label{
  font-size: 11px;
}

    .form-box .form-control, .form-box .form-control::placeholder {
       font-size: 12px;
    }

    /* .highlight_left_box img {
    position: relative;
    z-index: 2;
    width: 330px;
} */

.overview_img-box::after{
    right: -2px;
}

}
@media(max-width:390px){
    .offcanvas-body .nav-item, .offcanvas-body .nav-item .nav_g_line {
    
    font-size: 13px;
    line-height: normal;
    padding: 12px 0;
}
.offcanvas .offcanvas-header{
    padding: 0;
}
        .amenities_sab_title {
        font-size: 12px;
    }
        .banner_content_box h1 {
        font-size: 15px;
    }
        .section-title {
        font-size: 15px;
    }
    .amenities_top_box p, .amenities_bottom_box p {
    font-size: 14px;
    color: #fff;
    }
    .floor-button {
        padding: 19px 36px !important;
    }
    .price_small_section h4 {
        font-size: 14px;
    }
        .price_small_section sub {
        font-size: 12px;
    }
        .main-top-left-box {
        margin-bottom: 0;
    }
          .amenities_img_box img {
        height: 250px;
    }
   .table>:not(caption)>*>* {
        padding: 20px 5px !important;
    }
        .banner_content_box h1 {
        width: 100%;
        font-size: 15px;
        gap: 16px;
        justify-content: center;
    }
}