@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "Cinzel";
  src: url("../font/Cinzel/Cinzel-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Cinzel";
  src: url("../font/Cinzel/Cinzel-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

*, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

:root {
  --background-color:#0F1D2C;
  --secondary-bg-color:#051322;
  --primary-color: #000414;
  --white: #ffffff;
  --golden-color: #e8d8ac;
  --font-Poppins: "Poppins", sans-serif;
  --font-Cinzel: "Cinzel", serif; /* Cinzel is a serif font */
}
.navbar-container {
  max-width: 94% !important;
  margin: 0 auto;
}

nav {
  background-color: var(--primary-color);
  padding: 10px !important;
}
header {
  width: 100%;
  height: 100vh;
  position: relative;
}


.offcanvas-body .nav-item, .offcanvas-body .nav-item .nav_g_line {
  color: #fff;
  text-align: center;
  font-family: var(--font-Poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  width: 100%;
  position: relative;
  padding: 20px 0;
}

.navbar-nav .nav_g_line::after {
  content: "";
  width: 80%;
  height: 1px;
  background: #e8d8ac;
  background: linear-gradient(
    90deg,
    rgba(232, 216, 172, 0) 0%,
    rgba(232, 216, 172, 1) 55%,
    rgba(232, 216, 172, 0.06) 100%
  );
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  padding: 0;
}
.navbar-nav .nav_g_line::after:last-child{
    background-color: transparent;
}
.offcanvas-header {
    display: flex
;
    justify-content: center;
    align-items: center;}

    .offcanvas-header .btn-close{
     margin-left: 0 !important;
    position: absolute;
    right: 40px;
    border: 2px solid #000 !important;
    padding: 10px !important;
    border-radius: 50%;
    }
.offcanvas-title{
  margin-top: 20px;
}
.btn .line {
  width: 35px;
  height: 3px;
  /* background-color: #fff; */
  display: block;
  margin: 5px auto;
}
.navbar-brand {
  color: #fff !important;
}
.logo-text {
  font-size: 22px;
}
.number {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding: 7px 9px;
  background: none;
  color: #fff;
  border: 1px solid var(--golden-color);
}
.number img {
  width: 22px;
  height: 22px;
}
.right-side-navbar {
  display: flex;
  gap: 10px;
}
.navbar-toggler {
  border: 0;
  box-shadow: none;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
.navbar-toggler-icon {
  filter: invert(0) brightness(100);
}
.offcanvas {
  max-width: 368px;
}
.banner_img_box {
  width: 100%;
}
.banner_img_box img {
  width: 100%;
  height: 100vh;
}
.banner_img_box .mobile-banner{
  height: auto;
}
.banner_address {
  font-family: var(--font-Poppins);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.5px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.5px;
}
.banner_content_box {
  width: 60%;
  margin: auto;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner_content_box h1 {
  color: var(--golden-color);
  width: fit-content;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 25px;
  font-family: var(--font-Cinzel);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.banner_g_lineL {
  background: #e8d8ac;
  background: linear-gradient(
    90deg,
    rgba(232, 216, 172, 0) 0%,
    rgb(232 216 172 / 37%) 50%,
    rgba(232, 216, 172, 1) 100%
  );
  height: 1px;
  width: 150px;
  position: relative;
}
.banner_g_lineL::before {
  content: " ";
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translateY(-50%) rotate(46deg);
  width: 5px;
  height: 5px;
  background: #e8d8ac;
  /* transform: rotate(46deg); */
}
.banner_g_lineR {
  background: #e8d8ac;
  background: linear-gradient(
    90deg,
    rgb(232 216 172) 0%,
    rgb(232 216 172 / 37%) 50%,
    rgb(232 216 172 / 0%) 100%
  );
  height: 1px;
  width: 150px;
  position: relative;
}
.banner_g_lineR:before {
  content: " ";
  position: absolute;
  left: -5px;
  top: 50%;
  transform: translateY(-50%) rotate(46deg);
  width: 5px;
  height: 5px;
  background: #e8d8ac;
}

.banner-content-bottom {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.banner-para {
  color: #fff;
  text-align: center;
  font-family: var(--font-Poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  margin-top: 25px;
}
.banner-para span {
  color: var(--golden-color);
  font-family: var(--font-Cinzel);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.button-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0 0;
  /* width: 100%; */
}
.button-box span {
  color: #212121;
  font-family: var(--font-Poppins);
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: var(--golden-color);
  padding: 10px 25px;
}
.g_line {
  position: relative;
}
.g_line::after {
  content: "";
  width: 1px;
  height: 60px;
  background: linear-gradient(
    180deg,
    rgba(232, 216, 172, 0) 0%,
    rgba(232, 216, 172, 1) 55%,
    rgba(232, 216, 172, 0.06) 100%
  );
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -100px; /* adjust as per design */
  z-index: 99;
}

.g_line::before {
  content: "";
  width: 1px;
  height: 60px;
  background: linear-gradient(
    180deg,
    rgba(232, 216, 172, 0) 0%,
    rgba(232, 216, 172, 1) 55%,
    rgba(232, 216, 172, 0.06) 100%
  );
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -100px; /* adjust as per design */
  z-index: 99;
}


/* Overview */
.overview-section{
padding: 80px 92px;
background-color: var(--background-color);
color: #fff;
position: relative;
width: 100%;
}
.overview-left-box{
background: #000414;
background: linear-gradient(260deg, rgba(0, 4, 20, 1) 0%, rgba(0, 4, 20, 0) 100%);
width: 100%;
padding: 60px 30px ;
}
.section-title{
color: var(--golden-color);
font-family: var(--font-Cinzel);
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: fit-content;
display: flex;
align-items: center;
gap: 25px;
margin-bottom: 25px;
}
.section-title .g_right_line{
      background: #e8d8ac;
    background: linear-gradient(90deg, rgba(232, 216, 172, 0) 0%, rgb(232 216 172 / 37%) 50%, rgba(232, 216, 172, 1) 100%);
    height: 1px;
    width: 150px;
    position: relative;

}
.section-title .g_right_line::after {
    content: " ";
    position: absolute;
    /* right: -5px; */
      right: 0%;
    top: 48%;
    transform: translateY(-50%) rotate(46deg);
    width: 5px;
    height: 5px;
    background: #e8d8ac;
}


.para{
  width: 75%;
  color: #FFF;
text-align: justify;
font-family: var(--font-Poppins);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
letter-spacing: 0.5px;
text-transform: capitalize;
}
.overview_main_box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.overview_img-box {
  position: relative;
  display: inline-block;
  margin-left: -150px;
  
}

.overview_img-box img {
  position: relative;
  z-index: 2; /* image on top */
}

.overview_img-box::after {
  content: "";
  position: absolute;
  top: 0px;    /* gap from top */
  left: 10px;   /* gap from left */
  right: -10px; /* gap on right */
  bottom: 0px; /* gap on bottom */
  border: 1px solid var(--golden-color);
  z-index: 1; /* border behind image */
}

/* Highlights Section */


.highlight-section{
  background:var(--secondary-bg-color);
  padding: 80px 0px;

}
.highlight-left-box{
  margin-bottom: 70px;
}
.highlight_left_box, .highlight_right_box{
 position: relative;
  display: inline-block;
}

.highlight_left_box img, .highlight_right_box img {
  position: relative;
  z-index: 2; /* image on top */
}


.highlight_left_box::after {
  content: "";
  position: absolute;
  top: 0px;    /* gap from top */
  left: 10px;   /* gap from left */
  right: -10px; /* gap on right */
  bottom: 0px; /* gap on bottom */
  border: 1px solid var(--golden-color);
  z-index: 1; /* border behind image */
}

.highlight_right_box::before{
  content: " ";
  position: absolute;
  top: 0px;    /* gap from top */
  left: -10px;   /* gap from left */
  right: 0px; /* gap on right */
  bottom: 0px; /* gap on bottom */
  border: 1px solid var(--golden-color);
  z-index: 1; /* border behind image */
}

.highlight_middle_section{
     display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 70px;
}
.highlight_g_left,.highlight_g_right{
  position: relative;
}
.highlight_g_left::after{
    content: "";
    position: absolute;
    background: #e8d8ac;
    background: linear-gradient(90deg, rgba(232, 216, 172, 0) 0%, rgb(232 216 172 / 37%) 50%, rgba(232, 216, 172, 1) 100%);
    height: 1px;
    width: 200px;
    transform: rotate(89deg);
       top: -114px;
    left: -83px;

}
.highlight_g_left::before{
    content: "";
    position: absolute;
    background: #e8d8ac;
    background: linear-gradient(90deg, rgba(232, 216, 172, 0) 0%, rgb(232 216 172 / 37%) 50%, rgba(232, 216, 172, 1) 100%);
    height: 1px;
    width: 200px;
    transform: rotate(270deg);
        top: 148px;
    left: -83px;
}
.highlight_g_right::after{
content: "";
    position: absolute;
    background: #e8d8ac;
    background: linear-gradient(90deg, rgba(232, 216, 172, 0) 0%, rgb(232 216 172 / 37%) 50%, rgba(232, 216, 172, 1) 100%);
    height: 1px;
    width: 200px;
    transform: rotate(89deg);
      top: -114px;
    left: -83px;
}
.highlight_g_right::before{
content: "";
    position: absolute;
    background: #e8d8ac;
    background: linear-gradient(90deg, rgba(232, 216, 172, 0) 0%, rgb(232 216 172 / 37%) 50%, rgba(232, 216, 172, 1) 100%);
    height: 1px;
    width: 200px;
    transform: rotate(270deg);
     top: 148px;
    left: -83px;
}
.center_box{
     display: grid;
    align-items: center;
    gap: 20px;
}

.highlight-section .button-box{
  margin-top: 50px;
}
.highlight_box h3{
color: var(--golden-color);
text-align: justify;
font-family: var(--font-Cinzel);
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 155.556% */
letter-spacing: 0.5px;
text-transform: capitalize;
}
.highlight_box p{
color: #fff;
font-family: var(--font-Poppins);
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 28px;
letter-spacing: 0.5px;
text-transform: capitalize;
}

/* amenities */
.amenities-section{
            background: url(../images/amenities-bg-img.png);
  background-color: var(--secondary-bg-color);   /* overlay color */
  background-blend-mode: multiply; /* or overlay, darken, etc. */
  background-size: cover;
  background-position: center;
  padding: 80px 0px;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}
.amenities_sab_title{
  color: #FFF;
text-align: justify;
font-family: var(--font-Poppins);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
letter-spacing: 0.5px;
text-transform: capitalize;
}

.amenities-box{
 display: flex;
  justify-content: space-between;
  flex-wrap: wrap;   /* allow wrapping */
  gap: 25px;
  width: 100%;
}

.amenities_main_box {
  flex: 1 1 calc(20% - 25px); /* default: 5 items in row (desktop) */
}
 .amenities_img_box img{
  max-width: 100%;
  height: 450px;
  object-fit: cover;
 }
.amenities_main_box{
  width: 100%;
}

.amenities_bottom_box, .amenities_top_box {
      background: var(--primary-color);
    color: #fff;
    padding: 25px 0 15px 0;
    text-align: center;
}
.amenities_bottom_box{
  border: 1px solid var(--golden-color);
      border-top: none;
}
.amenities_top_box{
  border: 1px solid var(--golden-color);
  border-bottom: none;
}
.amenities_top_box img, .amenities_bottom_box img{
  max-width: 45px;
  margin-bottom: 10px;
}
.amenities_top_box p, .amenities_bottom_box p {
    font-size: 17px;
  color: #fff;
}

.amenities-section .button-box{
  margin-top: 80px;
}


/* Floor plan */
.section_floor{
   background:var(--background-color);
  padding: 80px 0px;
  position: relative;
}

#pills-tab{
      text-align: center;
    padding: 0;
    display: flex
;
    justify-content: center;
    gap: 43px;
    width: 100%;
}
/* .floor-button{
color: #FFF !important;
font-family: var(--font-Poppins);
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 1px;

}
.floor-button.active{
background-color: transparent !important;
} */

.floor-button {
  color: #fff !important;
  font-family: var(--font-Poppins);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  background: transparent !important;
  border: none;
  position: relative;
  padding: 20px 60px !important; /* spacing */
}

/* Top line */
.floor-button.active::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 15px;
  right: 15px;
  height: 1px;
  background: linear-gradient(90deg, transparent, #e8d8ac, transparent);
}

/* Bottom line */
.floor-button.active::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 15px;
  right: 15px;
  height: 1px;
  background: linear-gradient(90deg, transparent, #e8d8ac, transparent);
}

/* Diamonds */
.floor-button.active .diamond {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #e8d8ac;
  transform: rotate(45deg);
}

/* 4 corners */
.floor-button.active .diamond.tl { top: 5px; left: 5px; }
.floor-button.active .diamond.tr { top: 5px; right: 5px; }
.floor-button.active .diamond.bl { bottom: 5px; left: 5px; }
.floor-button.active .diamond.br { bottom: 5px; right: 5px; }

.floor_right-content_box{
width: 50%;
}
.floor_box_start{
display: flex;
gap: 20px;
align-items: center;
}
.small_box{
  
}
.small_box h4{
color: #E8D8AC;

font-family: var(--font-Poppins);
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-bottom: 0;
}
.small_box p{
color: #FFF;

font-family: var(--font-Poppins);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 0;
}
.floor_right-content_box .floor_g_line{
  position: relative;
    padding: 10px 50px;
    margin-bottom: 30px;

}
.floor_right-content_box .floor_g_line::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #e8d8ac;
  background: linear-gradient(
    90deg,
    rgba(232, 216, 172, 0) 0%,
    rgba(232, 216, 172, 1) 55%,
    rgba(232, 216, 172, 0.06) 100%
  );
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;

}
.section_floor .nav-link:focus-visible{
box-shadow: none !important;
}

.section_floor .button-box{
  margin-top: 70px;
}

/* Price List */

.price_list_section {
  position: relative;
  width: 100%;
  padding: 80px 0;
  overflow: hidden;
}

.vedio-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* Overlay color + blur */
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(5, 19, 34, 0.85); /* your #051322E5 */
  backdrop-filter: blur(2px);
  z-index: 2;
}

/* Content always on top */
.content-box {
  position: relative;
  z-index: 3;
}
.price_table{
  margin-top: 50px;
}
.price_table,
.price_table th,
.price_table td,
.price_table thead tr,
.price_table tbody tr {
  background-color: transparent !important;
}

.price_table tr:hover {
  background-color: transparent !important;
}

.price_small_section {
    display: flex
;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}


.price_small_section h4{
color: #ffffff !important;
font-family: var(--font-Cinzel);
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 0;
}
.price_small_section p{
color: #E8D8AC;

font-family: var(--font-Poppins);
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-bottom: 0;
}
.price_small_section sub{
color: #FFF;
font-family: var(--font-Cinzel);
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

td:nth-child(2), td:nth-child(3){
  text-align: end;
}
 tr:nth-child(1),  tr:nth-child(2){
  position: relative;

}
 tr:nth-child(1)::after, tr:nth-child(2)::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #e8d8ac;
  background: linear-gradient(
    90deg,
    rgba(232, 216, 172, 0) 0%,
    rgba(232, 216, 172, 1) 55%,
    rgba(232, 216, 172, 0.06) 100%
  );
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;

}
.table>:not(caption)>*>*{
  padding: 20px .5rem !important;
}

.price_list_section .button-box{
  margin-top: 50px;
}


/* Location Style */

.location-section{
   position: relative;
  width: 100%;
  padding: 80px 0;
  overflow: hidden;
  background-color: var(--secondary-bg-color);
}

.location_middle_box{
  position: relative;
}
 .location_g_right{

    width: 1px;
    height: 100%;
    background: #e8d8ac;
    background: linear-gradient(180deg, rgba(232, 216, 172, 0) 0%, rgba(232, 216, 172, 1) 55%, rgba(232, 216, 172, 0.06) 100%);
    position: absolute;
    bottom: 0;
    left: -15px;
    transform: translateX(-50%);
    z-index: 99;
} 
.location_g_left{
width: 1px;
    height: 100%;
    background: #e8d8ac;
    background: linear-gradient(180deg, rgba(232, 216, 172, 0) 0%, rgba(232, 216, 172, 1) 55%, rgba(232, 216, 172, 0.06) 100%);
    position: absolute;
    bottom: 0;
    right: -15px;
    transform: translateX(-50%);
    z-index: 99;
}
.location_small_box{
text-align: end;
}
.location_right_small_box, .location_right_small_box h3{
  text-align: start !important;
}
.location_small_box h3, .location_right_small_box h3{
color: #E8D8AC;

text-align: right;

font-family: var(--font-Cinzel);
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 155.556% */
letter-spacing: 0.5px;
text-transform: capitalize;
margin-bottom: 0;
}
.location_small_box p, .location_right_small_box p{
color: #FFF;
font-family: var(--font-Poppins);
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 28px;
letter-spacing: 0.5px;
text-transform: capitalize;
}
.location_left_main_box, .location_right_main_box{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}
.location_main_box{
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 25px;
}
.location_main_box .g_left_line, .g_right_line{

    background: #E8D8AC;
/* background: linear-gradient(260deg,rgba(232, 216, 172, 0) 0%, rgba(232, 216, 172, 1) 100%); */
    height: 1px;
    width: 100px;
    position: relative;

}
.location_main_box .g_left_line::before {
    content: " ";
    position: absolute;
    /* right: -5px; */
      left: 0%;
    top: 48%;
    transform: translateY(-50%) rotate(46deg);
    width: 5px;
    height: 5px;
    background: #e8d8ac;
}
.g_right_line::before{
  content: " ";
    position: absolute;
    /* right: -5px; */
      right: 0%;
    top: 48%;
    transform: translateY(-50%) rotate(46deg);
    width: 5px;
    height: 5px;
    background: #e8d8ac;
}

.location-section .button-box{
  margin-top: 70px;
}


/* Gallery */
.gallery-section{
   position: relative;
  width: 100%;
  padding: 80px 0;
  overflow: hidden;
  background-color: var(--primary-color);
}


/* swipper code */
   
   .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper {
      margin-left: auto;
      margin-right: auto;
    }
    .swipper-gallery-images{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }


    /*  */

    .developer-section{
        position: relative;
  width: 100%;
  padding: 80px 0;
  overflow: hidden;
}

.developer-vedio-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}


.developer_main_box{
width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 91%;
    margin: auto;
    margin-top: 70px;
}










.developer-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 35px 0;
}
.developer-box h3{
color: #E8D8AC;
text-align: right;
font-family: var(--font-Cinzel);
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 93.333% */
letter-spacing: 0.5px;
text-transform: capitalize;
margin-bottom: 15px;
}
.developer-box p{
color: #FFF;
text-align: center;
font-family: var(--font-Poppins);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 137.5% */
letter-spacing: 0.5px;
margin-bottom: 0;
}
.developer-box::after{
    content: "";
    width: 100%;
    height: 1px;
    background: #e8d8ac;
    background: linear-gradient(90deg, rgba(232, 216, 172, 0) 0%, rgba(232, 216, 172, 1) 55%, rgba(232, 216, 172, 0.06) 100%);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    padding: 0;
}
.developer-box::before{
    content: "";
    width: 100%;
    height: 1px;
    background: #e8d8ac;
    background: linear-gradient(90deg, rgba(232, 216, 172, 0) 0%, rgba(232, 216, 172, 1) 55%, rgba(232, 216, 172, 0.06) 100%);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    padding: 0;
}

