@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "Cinzel";
  src: url("../font/Cinzel/Cinzel-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Cinzel";
  src: url("../font/Cinzel/Cinzel-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}
@font-face {
  font-family: "Source Code Pro";
  src: url("../font/Source_Code_Pro/SourceCodePro-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("../font/Source_Code_Pro/SourceCodePro-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../font/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../font/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

*, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

:root {
  --background-color:#0F1D2C;
  --secondary-bg-color:#051322;
  --primary-color: #000414;
  --white: #ffffff;
  --golden-color: #e8d8ac;
  --font-Poppins: "Poppins", sans-serif;
  --font-Cinzel: "Cinzel", serif; 
  --font-Lato: "Lato", sans-serif; 
  --font-Source-Code-Pro: "Source Code Pro", monospace; 
}


.navbar-container {
  max-width: 94% !important;
  margin: 0 auto;

}

.navbar-container {
  position: relative; /* so absolute center works */
  padding: 10px 20px;
}

.navbar-center-text {
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
   


/* .navbar_flex_chield{
  text-align: center;
}

.navbar_flex_chield2{
  flex: 1;
  text-align: center;
}
.navbar_flex_chield3{
  text-align: center;
} */
nav {
  background-color: var(--primary-color);
  padding: 21px 16px !important;
}
header {
  width: 100%;
  height: 100vh;
  position: relative;
}


.offcanvas-body .nav-item, .offcanvas-body .nav-item .nav_g_line {
  color: #fff;
  text-align: center;
  font-family: var(--font-Poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  width: 100%;
  position: relative;
  padding: 20px 0;
}

.navbar-nav .nav_g_line::after {
  content: "";
  width: 80%;
  height: 1px;
  background: var(--golden-color);
  background: linear-gradient(
    90deg,
    rgba(232, 216, 172, 0) 0%,
    rgba(232, 216, 172, 1) 55%,
    rgba(232, 216, 172, 0.06) 100%
  );
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  padding: 0;
}
.navbar-nav .nav_g_line::after:last-child{
    background-color: transparent;
}
.offcanvas-header {
    display: flex
;
    justify-content: center;
    align-items: center;}

    .offcanvas-header .btn-close{
     margin-left: 0 !important;
    position: absolute;
    right: 40px;
    border: 2px solid #000 !important;
    padding: 10px !important;
    border-radius: 50%;
    }
.offcanvas-title{
  margin-top: 20px;
}
.btn .line {
  width: 35px;
  height: 3px;
  /* background-color: #fff; */
  display: block;
  margin: 5px auto;
}
.navbar-brand {
  color: #fff !important;
}
.logo-text {
  font-size: 22px;
}
.number {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding: 7px 9px;
  background: none;
  color: #fff;
  border: 1px solid var(--golden-color);
}
.number img {
  width: 22px;
  height: 22px;
}
.right-side-navbar {
  display: flex;
  gap: 10px;
}
.navbar-toggler {
  border: 0;
  box-shadow: none;
  padding: 0;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
.navbar-toggler-icon {
  filter: invert(0) brightness(100);
}
.offcanvas {
  max-width: 368px;
}
.banner_img_box {
  width: 100%;
}
.banner_img_box img {
  width: 100%;
  height: 100vh;
}
.banner_img_box .mobile-banner {
    height: 500px;
}
.banner_address {
  font-family: var(--font-Poppins);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.5px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.5px;
}
.banner_content_box {
  width: 60%;
  margin: auto;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner_content_box h1 {
  color: var(--golden-color);
  width: fit-content;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 25px;
  font-family: var(--font-Cinzel);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.banner_g_lineL {
  background: var(--golden-color);
  background: linear-gradient(
    90deg,
    rgba(232, 216, 172, 0) 0%,
    rgb(232 216 172 / 37%) 50%,
    rgba(232, 216, 172, 1) 100%
  );
  height: 1px;
  width: 150px;
  position: relative;
}
.banner_g_lineL::before {
  content: " ";
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translateY(-50%) rotate(46deg);
  width: 5px;
  height: 5px;
  background: var(--golden-color);
  /* transform: rotate(46deg); */
}
.banner_g_lineR {
  background: var(--golden-color);
  background: linear-gradient(
    90deg,
    rgb(232 216 172) 0%,
    rgb(232 216 172 / 37%) 50%,
    rgb(232 216 172 / 0%) 100%
  );
  height: 1px;
  width: 150px;
  position: relative;
}
.banner_g_lineR:before {
  content: " ";
  position: absolute;
  left: -5px;
  top: 50%;
  transform: translateY(-50%) rotate(46deg);
  width: 5px;
  height: 5px;
  background: var(--golden-color);
}

.banner-content-bottom {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.banner-para {
  color: #fff;
  text-align: center;
  font-family: var(--font-Poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  margin-top: 25px;
}
.banner-para span {
  color: var(--golden-color);
  font-family: var(--font-Cinzel);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.button-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0 0;
  /* width: 100%; */
  cursor: pointer;
}
.button-box span {
  color: #212121;
  font-family: var(--font-Poppins);
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: var(--golden-color);
  padding: 10px 25px;
}
.g_line {
  position: relative;
}
.g_line::after {
  content: "";
  width: 1px;
  height: 60px;
  background: linear-gradient(
    180deg,
    rgba(232, 216, 172, 0) 0%,
    rgba(232, 216, 172, 1) 55%,
    rgba(232, 216, 172, 0.06) 100%
  );
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -100px; /* adjust as per design */
  z-index: 99;
}

.g_line::before {
  content: "";
  width: 1px;
  height: 60px;
  background: linear-gradient(
    180deg,
    rgba(232, 216, 172, 0) 0%,
    rgba(232, 216, 172, 1) 55%,
    rgba(232, 216, 172, 0.06) 100%
  );
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -100px; /* adjust as per design */
  z-index: 99;
}

.main-top-left-box{
  margin-bottom: 70px;
}

.mobile_price_content{
  background-color: var(--background-color);
  padding: 0;
}
.banner-mobile-content-bottom{
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  /* align-items: center; */
}
.mobile_g_line{
  position: relative;
}
.mobile_g_line::after{
      content: "";
      width: 1px;
      height: 70px;
      background: var(--golden-color);
      background: linear-gradient(2deg,rgba(232, 216, 172, 0) 0%, rgba(232, 216, 172, 1) 50%, rgba(232, 216, 172, 0) 100%);
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-50%) rotate(180deg);
      z-index: 99;
}
.mobile_price_content .banner-para{
margin-top: 0;
    padding: 20px 0;
}
.mobile_price_content>.banner-para{
border-block: 1px solid var(--golden-color);
}


/* Overview */
.overview-section{
padding: 80px 92px;
background-color: var(--background-color);
color: #fff;
position: relative;
width: 100%;
}
.overview-left-box{
 background: #000414;
background: linear-gradient(90deg,rgba(0, 4, 20, 0) 0%, rgba(0, 4, 20, 1) 100%);
width: 100%;
padding: 60px 30px;
}
.section-title{
color: var(--golden-color);
font-family: var(--font-Cinzel);
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: fit-content;
display: flex;
align-items: center;
gap: 25px;
margin-bottom: 25px;
}
.section-title .g_right_line{
      background: var(--golden-color);
    background: linear-gradient(90deg, rgba(232, 216, 172, 0) 0%, rgb(232 216 172 / 37%) 50%, rgba(232, 216, 172, 1) 100%);
    height: 1px;
    width: 150px;
    position: relative;

}
.section-title .g_right_line::after {
    content: " ";
    position: absolute;
    /* right: -5px; */
      right: 0%;
    top: 48%;
    transform: translateY(-50%) rotate(46deg);
    width: 5px;
    height: 5px;
    background: var(--golden-color)        ;
}


.para{
  width: 78%;
  color: #FFF;
text-align: justify;
font-family: var(--font-Poppins);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
letter-spacing: 0.5px;
text-transform: capitalize;
}
.overview_main_box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.overview_img-box {
  position: relative;
  display: inline-block;
  margin-left: -150px;
  
}

.overview_img-box img {
  position: relative;
  z-index: 2; /* image on top */
}

.overview_img-box::after {
  content: "";
  position: absolute;
  top: 0px;    /* gap from top */
  left: 10px;   /* gap from left */
  right: -10px; /* gap on right */
  bottom: 0px; /* gap on bottom */
  border: 1px solid var(--golden-color);
  z-index: 1; /* border behind image */
}


/* Highlights Section */


.highlight-section{
  background:var(--secondary-bg-color);
  padding: 80px 0px;

}
/* .highlight-left-box{
  margin-bottom: 70px;
} */
.highlight_right_box{
  margin-top: 150px;
}
.highlight_left_box, .highlight_right_box{
 position: relative;
  display: inline-block;
  /* margin-top: 50px; */
}

.highlight_left_box img, .highlight_right_box img {
  position: relative;
  z-index: 2; /* image on top */
}


.highlight_left_box::after {
  content: "";
  position: absolute;
  top: 0px;    /* gap from top */
  left: 10px;   /* gap from left */
  right: -10px; /* gap on right */
  bottom: 0px; /* gap on bottom */
  border: 1px solid var(--golden-color);
  z-index: 1; /* border behind image */
}

.highlight_right_box::before{
  content: " ";
  position: absolute;
  top: 0px;    /* gap from top */
  left: -10px;   /* gap from left */
  right: 0px; /* gap on right */
  bottom: 0px; /* gap on bottom */
  border: 1px solid var(--golden-color);
  z-index: 1; /* border behind image */
}

.highlight_middle_section{
     display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 70px;
}
.highlight_g_left,.highlight_g_right{
  position: relative;
}
.highlight_g_left::after{
    content: "";
    position: absolute;
    background: var(--golden-color);
    background: linear-gradient(90deg, rgba(232, 216, 172, 0) 0%, rgb(232 216 172 / 37%) 50%, rgba(232, 216, 172, 1) 100%);
    height: 1px;
    width: 200px;
    transform: rotate(89deg);
       top: -114px;
    left: -83px;

}
.highlight_g_left::before{
    content: "";
    position: absolute;
    background: var(--golden-color);
    background: linear-gradient(90deg, rgba(232, 216, 172, 0) 0%, rgb(232 216 172 / 37%) 50%, rgba(232, 216, 172, 1) 100%);
    height: 1px;
    width: 200px;
    transform: rotate(270deg);
        top: 148px;
    left: -83px;
}
.highlight_g_right::after{
content: "";
    position: absolute;
    background: var(--golden-color);
    background: linear-gradient(90deg, rgba(232, 216, 172, 0) 0%, rgb(232 216 172 / 37%) 50%, rgba(232, 216, 172, 1) 100%);
    height: 1px;
    width: 200px;
    transform: rotate(89deg);
      top: -114px;
    left: -83px;
}
.highlight_g_right::before{
content: "";
    position: absolute;
    background: var(--golden-color);
    background: linear-gradient(90deg, rgba(232, 216, 172, 0) 0%, rgb(232 216 172 / 37%) 50%, rgba(232, 216, 172, 1) 100%);
    height: 1px;
    width: 200px;
    transform: rotate(270deg);
     top: 148px;
    left: -83px;
}
.center_box{
     display: grid;
    align-items: center;
    gap: 20px;
}

.highlight-section .button-box{
  margin-top: 50px;
}
.highlight_box h3{
color: var(--golden-color);
text-align: justify;
font-family: var(--font-Cinzel);
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 155.556% */
letter-spacing: 0.5px;
text-transform: capitalize;
}
.highlight_box p{
color: #fff;
font-family: var(--font-Poppins);
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 28px;
letter-spacing: 0.5px;
text-transform: capitalize;
}

/* amenities */
.amenities-section{
            background: url(../images/amenities-bg-img.png);
            background-color: rgba(5, 19, 34, 0.90);   /* overlay color */
            background-blend-mode: multiply; /* or overlay, darken, etc. */
            background-size: cover;
            background-position: center;
            padding: 80px 0px;
            width: 100%;
            overflow-x: hidden;
            position: relative;
}
.amenities_sab_title{
  color: #FFF;
text-align: justify;
font-family: var(--font-Poppins);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
letter-spacing: 0.5px;
text-transform: capitalize;
}

.amenities-box{
 display: flex;
  justify-content: space-between;
  flex-wrap: wrap;   /* allow wrapping */
  gap: 25px;
  width: 100%;
}

.amenities_main_box {
  flex: 1 1 calc(20% - 25px); /* default: 5 items in row (desktop) */
}
 .amenities_img_box img{
  max-width: 100%;
  height: 400px;
  object-fit: cover;
 }
.amenities_main_box{
  width: 100%;
}

.amenities_bottom_box, .amenities_top_box {
      background: var(--primary-color);
    color: #fff;
    padding: 25px 0 15px 0;
    text-align: center;
}
.amenities_bottom_box{
  border: 1px solid var(--golden-color);
      border-top: none;
}
.amenities_top_box{
  border: 1px solid var(--golden-color);
  border-bottom: none;
}
.amenities_top_box img, .amenities_bottom_box img{
  max-width: 45px;
  margin-bottom: 10px;
}
.amenities_top_box p, .amenities_bottom_box p {
    
  color: #FFF;
font-family: var(--font-Poppins);
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;

}

.amenities-section .button-box{
  margin-top: 80px;
}


/* Floor plan */
.section_floor{
   background:var(--background-color);
  padding: 80px 0px;
  position: relative;
}

#pills-tab{
      text-align: center;
    padding: 0;
    display: flex
;
    justify-content: center;
    gap: 43px;
    width: 100%;
        margin-bottom: 41px;
}
/* .floor-button{
color: #FFF !important;
font-family: var(--font-Poppins);
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 1px;

}
.floor-button.active{
background-color: transparent !important;
} */

.floor-button {
  color: #fff !important;
  font-family: var(--font-Poppins);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  background: transparent !important;
  border: none;
  position: relative;
  padding: 20px 60px !important; /* spacing */
  font-style: normal;
line-height: normal;
}

/* Top line */
.floor-button.active::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 15px;
  right: 15px;
  height: 1px;
  background: linear-gradient(90deg, transparent, #e8d8ac, transparent);
}

/* Bottom line */
.floor-button.active::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 15px;
  right: 15px;
  height: 1px;
  background: linear-gradient(90deg, transparent, #e8d8ac, transparent);
}

/* Diamonds */
.floor-button.active .diamond {
  position: absolute;
  width: 6px;
  height: 6px;
  background: var(--golden-color);
  transform: rotate(45deg);
}

/* 4 corners */
.floor-button.active .diamond.tl { top: 5px; left: 5px; }
.floor-button.active .diamond.tr { top: 5px; right: 5px; }
.floor-button.active .diamond.bl { bottom: 5px; left: 5px; }
.floor-button.active .diamond.br { bottom: 5px; right: 5px; }

.floor_right-content_box{
width: 50%;
}
.floor_box_start{
display: flex;
gap: 20px;
align-items: center;
}
.small_box{
  
}
.small_box h4{
color: var(--golden-color);

font-family: var(--font-Poppins);
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-bottom: 0;
}
.small_box p{
color: #FFF;

font-family: var(--font-Poppins);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 0;
}
.floor_right-content_box .floor_g_line{
  position: relative;
    padding: 10px 50px;
    margin-bottom: 30px;

}
.floor_right-content_box .floor_g_line::after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--golden-color);
  background: linear-gradient(
    90deg,
    rgba(232, 216, 172, 0) 0%,
    rgba(232, 216, 172, 1) 55%,
    rgba(232, 216, 172, 0.06) 100%
  );
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;

}
.nav-link{
  color: #fff !important;
}
/* .navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
  color: var(--golden-color) !important;
} */
.section_floor .nav-link:focus-visible{
box-shadow: none !important;
}

.section_floor .button-box{
  margin-top: 70px;
}

.floor_main_box {
    margin-left: 37px;
}

/* Price List */

.price_list_section {
  position: relative;
  width: 100%;
  padding: 80px 0;
  overflow: hidden;
}

.vedio-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* Overlay color + blur */
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(5, 19, 34, 0.85); /* your #051322E5 */
  backdrop-filter: blur(2px);
  z-index: 2;
}

/* Content always on top */
.content-box {
  position: relative;
  z-index: 3;
}
/* .price_table{
  margin-top: 50px;
} */
.price_table,
.price_table th,
.price_table td,
.price_table thead tr,
.price_table tbody tr {
  background-color: transparent !important;
}

.price_table tr:hover {
  background-color: transparent !important;
}

.price_small_section {
    display: flex
;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}


.price_small_section h4{
color: #ffffff !important;
font-family: var(--font-Cinzel);
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 0;
}
.price_small_section p{color: var(--golden-color);font-family: var(--font-Poppins);font-size: 16px;font-style: normal;font-weight: 300;line-height: normal;margin-bottom: 5px;}
.price_small_section sub{
color: #FFF;
font-family: var(--font-Cinzel);
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

td:nth-child(2), td:nth-child(3){
  text-align: end;
}
 tr{
  position: relative;

}
 tr::after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--golden-color);
  background: linear-gradient(
    90deg,
    rgba(232, 216, 172, 0) 0%,
    rgba(232, 216, 172, 1) 55%,
    rgba(232, 216, 172, 0.06) 100%
  );
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;

}

.table>:not(caption)>*>*{
  padding: 30px .5rem !important;
}

.price_list_section .button-box{
  margin-top: 50px;
}


.typology {
    width: fit-content;
    text-align: start;
}
.new-price{
   justify-content: end;
    align-items: end;
}


/* Location Style */

.location-section{
   position: relative;
  width: 100%;
  padding: 80px 0;
  overflow: hidden;
  background-color: var(--secondary-bg-color);
}

.location_middle_box{
  position: relative;
}
 .location_g_right{

    width: 1px;
    height: 100%;
    background: var(--golden-color);
    background: linear-gradient(180deg, rgba(232, 216, 172, 0) 0%, rgba(232, 216, 172, 1) 55%, rgba(232, 216, 172, 0.06) 100%);
    position: absolute;
    bottom: 0;
    left: -15px;
    transform: translateX(-50%);
    z-index: 99;
} 
.location_g_left{
width: 1px;
    height: 100%;
    background: var(--golden-color);
    background: linear-gradient(180deg, rgba(232, 216, 172, 0) 0%, rgba(232, 216, 172, 1) 55%, rgba(232, 216, 172, 0.06) 100%);
    position: absolute;
    bottom: 0;
    right: -15px;
    transform: translateX(-50%);
    z-index: 99;
}
.location_small_box{
text-align: end;
}
.location_right_small_box, .location_right_small_box h3{
  text-align: start !important;
}
.location_small_box h3, .location_right_small_box h3{
color: var(--golden-color);

text-align: right;

font-family: var(--font-Cinzel);
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 155.556% */
letter-spacing: 0.5px;
text-transform: capitalize;
margin-bottom: 0;
}
.location_small_box p, .location_right_small_box p{
color: #FFF;
font-family: var(--font-Poppins);
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 28px;
letter-spacing: 0.5px;
text-transform: capitalize;
}
.location_left_main_box, .location_right_main_box{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}
.location_main_box{
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 25px;
}
.location_main_box .g_left_line, .g_right_line{

    background: var(--golden-color);
/* background: linear-gradient(260deg,rgba(232, 216, 172, 0) 0%, rgba(232, 216, 172, 1) 100%); */
    height: 1px;
    width: 100px;
    position: relative;

}
.location_main_box .g_left_line::before {
    content: " ";
    position: absolute;
    /* right: -5px; */
      left: 0%;
    top: 48%;
    transform: translateY(-50%) rotate(46deg);
    width: 5px;
    height: 5px;
    background: var(--golden-color);
}
.g_right_line::before{
  content: " ";
    position: absolute;
    /* right: -5px; */
      right: 0%;
    top: 48%;
    transform: translateY(-50%) rotate(46deg);
    width: 5px;
    height: 5px;
    background: var(--golden-color);
}

.location-section .button-box{
  margin-top: 80px;
}


/* Gallery */
.gallery-section{
   position: relative;
  width: 100%;
  padding: 80px 0;
  overflow: hidden;
  background-color: var(--primary-color);
}


/* swipper code */
   
   .swiper {
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;

    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

   

   
    .swipper-gallery-images{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }




    .gallery-box {
      position: relative;
      /* max-width: 1200px;
      margin: auto; */
      padding: 40px 0;
  width: 100%;

    }

    /* Swiper */
   
    .swiper-slide img {
      width: 100%;
      height: auto;
      border-radius: 6px;
      object-fit: cover;
    }

    /* Navigation buttons */
    .gallery-nav {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-top: 20px;
    }

    .gallery-btn {
      width: 50px;
      height: 50px;
      border: 2px solid #f4e4b3;
      border-radius: 50%;
      background: transparent;
      color: #f4e4b3;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .gallery-btn:hover {
      /* background: #f4e4b3; */
      color: #000;
    }

    .gallery-btn i {
      font-size: 20px;
    }

    /* Dots (pagination) */
    .swiper-pagination-bullets .swiper-pagination-bullet {
       background: transparent;
    opacity: 1;
    /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%) !important; */
    border: 1px solid var(--golden-color);
    width: 8px;
    height: 8px;
    border-radius: 0;
  transform: rotate(45deg);

    }
    .swiper-pagination-bullets .swiper-pagination-bullet-active {
      opacity: 1;
      background: var(--golden-color);
      /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
    }



.gallery_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100% !important;
    margin-top: 50px !important;

}


.swiper-pagination{
     position: static !important;
    width: fit-content !important;
}



.mySwiper1::after, .mySwiper2::after{
 content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 6%;
    height: 100%;
    background: linear-gradient(90deg, #0F1D2C 0%, rgba(15, 29, 44, 0.00) 100%);
    z-index: 99;
}
.mySwiper1::before, .mySwiper2::before{
    content: " ";
    position: absolute;
       top: 0;
    right: 0;
    width: 6%;
    height: 100%;
    background: linear-gradient(270deg, #0F1D2C 0%, rgba(15, 29, 44, 0.00) 100%);
    z-index: 99;
}

.swiper {
  margin-bottom: 20px;
   padding: 0 40px; 
}
.swiper-slide {
  border-radius: 6px;
  overflow: hidden;
  background: #111;
}

.mySwiper2 .swiper-slide:first-child {
 /* margin-right: 107px !important; */
     margin-right: 240px !important;
}

.swiper-slide img {
  /* width: 100%;
  height: auto;
  object-fit: cover; */
  width: 100%;
    height: 300px;
    object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
  width: 40px;
  height: 40px;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  z-index: 10;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 18px;
}

    /* Developer style */

    .developer-section{
        position: relative;
  width: 100%;
  padding: 80px 0;
  overflow: hidden;
}

.developer-vedio-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}


.developer_main_box{width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 91%;margin: auto;
  margin-top: 70px;/* gap: 47px; */}

.developer-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 35px 0px;
  flex-basis: 26%;
  /* gap: 20px; */
}
.developer-box h3{
color: var(--golden-color);
text-align: right;
font-family: var(--font-Cinzel);
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 93.333% */
letter-spacing: 0.5px;
text-transform: capitalize;
margin-bottom: 15px;
}
.developer-box p{
color: #FFF;
text-align: center;
font-family: var(--font-Poppins);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 137.5% */
letter-spacing: 0.5px;
margin-bottom: 0;
}
.developer-box::after{
    content: "";
    width: 100%;
    height: 1px;
    background: var(--golden-color);
    background: linear-gradient(90deg, rgba(232, 216, 172, 0) 0%, rgba(232, 216, 172, 1) 55%, rgba(232, 216, 172, 0.06) 100%);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    padding: 0;
}
.developer-box::before{
    content: "";
    width: 100%;
    height: 1px;
    background: var(--golden-color);
    background: linear-gradient(90deg, rgba(232, 216, 172, 0) 0%, rgba(232, 216, 172, 1) 55%, rgba(232, 216, 172, 0.06) 100%);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    padding: 0;
}

/* Contact Section */
.contact-form{
   position: relative;
  width: 100%;
  padding: 80px 0;
  background-color: var(--background-color);
}
.form-box{
  background: var(--secondary-bg-color);

box-shadow: 0 389px 109px 0 rgba(205, 176, 86, 0.00), 0 249px 100px 0 rgba(205, 176, 86, 0.01), 0 140px 84px 0 rgba(205, 176, 86, 0.03), 0 62px 62px 0 rgba(205, 176, 86, 0.04), 0 16px 34px 0 rgba(205, 176, 86, 0.05);
width: 566px;
padding: 30px;
margin-top: 50px;
display: flex;
flex-direction: column;
gap: 40px;
}
.form-box .form-control{
  border: 1px solid #E8D8AC;

background: var(--secondary-bg-color) !important;
width: 100%;
height: 58px;
padding: 10px ;
}
.form-box .form-control::placeholder{
  color: #FFF !important;
font-family: var(--font-Cinzel);
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.885px;
}
.contact_button .btn, .contact_button .btn:hover, .contact_button .btn:active{
  display: flex;
width: 100%;
height: 45px;
justify-content: center;
align-items: center;
background-color: var(--golden-color) !important;
}
.contact_button .btn span{
  color: #212121;
font-family: var(--font-Poppins);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.5px;
text-transform: uppercase;
}

.buiding_img{
    position: absolute;
    right: 0;
    top: 13%;
    height: 80% !important;
    opacity: .3;
    width: 40%;
    }
  
    /* Footer */
    .footer_section{
       position: relative;
  width: 100%;
  padding: 80px 0;
  background-color: var(--secondary-bg-color);
    }
    .footer_section img{
filter: invert(1);
    }
    .footer_section h1{
      color: var(--golden-color);
font-family: var(--font-Cinzel);
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin:25px 0
    }
        .footer_section p{
color: #B5B5B5;

text-align: center;
font-family: var(--font-Poppins);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 166.667% */
letter-spacing: 0.25px;

        }
 .footer_section .g_line_bottom{
    
    width: 100%;
    height: 1px;
    background: var(--golden-color);
    background: linear-gradient(90deg, rgba(232, 216, 172, 0) 0%, rgba(232, 216, 172, 1) 55%, rgba(232, 216, 172, 0.06) 100%);
       padding: 0;
margin: 40px 0;
        }
        .footer_bottom{
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }
        .footer_bottom p{
          font-size: 14px;
        }
.footer_bottom .dis{
color: var(--golden-color);

font-family: var(--font-Source-Code-Pro);

font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1px;
text-transform: capitalize;
                }
.footer_bottom .copy_right{
color: #FFF;

text-align: center;
font-family: "Source Sans Pro";

font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1px;
text-transform: capitalize;
                }
.footer_bottom .comapny_promo{
color: #FFF;
text-align: right;
font-family: var(--font-Source-Code-Pro);

font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1px;
text-transform: capitalize;
                }
 .footer_bottom .comapny_promo span{
color: #FFF;
font-family: var(--font-Source-Code-Pro);
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1px;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
text-transform: capitalize; }



/* Modal form */

.modal_form_box .form-box{
width: 100%;
box-shadow: none;
margin-top: 0px ;
gap: 30px;
}
.modal-body{
  padding: 0 !important;
}
.modal-content{
  border: 1px solid var(--golden-color) !important;
  border-radius: 0 !important;
}
.modal-header{
     background-color: var(--secondary-bg-color);
    border: none !important;
    display: flex
;
    justify-content: center;
    padding-bottom: 0 !important;
    border-radius: 0 !important;
}
 .modal-content .btn-close {
    margin-left: 0 !important;
    position: absolute;
    right: 20px;
    padding: 10px !important;
    border-radius: 50%;
    filter: invert(1);
    top: 15px;
    
}
.modal-content .btn-close:focus{
  box-shadow: none !important;
  border: 1px solid var(--golden-color) !important;
}
.form-box .form-control{
   color: #FFF !important;

font-family: var(--font-Cinzel);
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.885px;
border: 1px solid var(--golden-color) !important;
border-radius: 0 !important;
}
.form-box .form-control:focus{
  box-shadow: none !important;
  border-color:var(--golden-color) !important;
}

.footer_bottom_cta{
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--golden-color);
  z-index: 99;
  width: 100%;
}
.footer_bottom_cta .cta_button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  width: 100%;
  height: auto;
  gap: 15px;
  padding: 5px 20px;
}
.footer_bottom_cta .cta_button a{
text-decoration: none;
color: #212121;
font-family: var(--font-Lato);
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.g_footer_cta{
  background: var(--secondary-bg-color);
  background: linear-gradient(2deg,rgba(5, 19, 34, 0) 0%, rgba(5, 19, 34, 1) 50%, rgba(5, 19, 34, 0) 100%);
  width: 1px;
  height: 44px;
}